
       
       body{background-color: #83fc5e;}
       
        a:link {color: salmon;}
        a:visited{color: seagreen;}
        a:hover{color: black;}
        a:active{color: yellow;}

        div{
            size: 42;
            color: red;
        }

        p{
            size: 36;
            color: yellow;
        }
        input{
            size: 12;
            color: blueviolet;
        }

